.container {
    background-color: #9a8a84;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}

.bigcontainer{
    background-color: #000000;
    min-height: 110vh;
}


.submitform
{
    background-color: #cbb9c2;
    margin: 0px 100px 20px 100px;
    padding: 50px;
    text-align: left;
}

button{
    cursor: pointer;
    width: 175px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin: 10px auto;
    font-size: 1rem;
    transition: all linear 250ms;
    position: relative;
    /*transform: translate(100%,50%);
    */
}

button:hover{
    transform: scale(1.05);
    background-color: #161A1D;
    color: white;
}

h1{
    text-align: center;
    font-size: 25px;
    margin-bottom: 5%;
}

input {
    margin-bottom: 5%;
    margin-left: 1%;
}

label {
    background-color: #9a8a84;
    padding: 5px;
    border-radius: 5px;

}
select {
    margin-bottom: 5%;
    margin-left: 2%;
}

.description {
    width: 50%;
}